[submodule "generator/deps/initools"]
	path = generator/deps/initools
	url = https://github.com/Clovel/initools.git
[submodule "generator/deps/rapidjson"]
	path = generator/deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "generator/deps/http-parser"]
	path = generator/deps/http-parser
	url = https://github.com/nodejs/http-parser.git
